html{
    margin: 0;
    padding: 0;
}
.home_main{
    text-align: center;
    margin: 0;
}
.home_main > div{
    margin: 10px;
}

h1{
    font-family: 'Trashhand';
    color: #2A9ED8;
    font-size: 40pt;
    font-weight: 900;
    margin: 0;
    padding: 10px;
  }
h2, .orange{
    font-family: 'Trashhand';
    color: #F27953;
    font-size: 40pt;
    font-weight: 900;
    margin: 0;
}
h4{
    font-family: 'Trashhand';
    font-size: 18pt;
    color: rgb(128, 128, 128);
    padding: 0 20px;
    letter-spacing: 1pt;
    font-weight: lighter;
}
h5{
    font-family: 'Trashhand';
    font-size: 24pt;
  }
p{
    text-align: left;
    color: rgb(94, 94, 94);
    font-family: 'Quicksand', sans-serif;
    font-weight: lighter;
    letter-spacing: 1pt;
    font-size: 14pt;
    padding: 10px 100px;
}
.home_slider{
    padding: 20px 0;
}
.home_pictures{
    padding-bottom: 50px;
}

.home_pictures > img{
    padding: 40px 20px;
}
.noDecor{
    text-decoration: none;
}
.footerLogo{
    transform: translateY(20px);
}
footer{
    background-color: #58585A;
    padding: 2px;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
    align-content: stretch;
    margin: 0;
}