.navbar_flex{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
    align-content: stretch;
}


.navbar_flex h5{
    color: #1E76BA;
    padding: 20px 10px;
    font-weight: 100;
    margin: 10px;
    letter-spacing: .5pt;
}

.footerNav{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;;
	align-items: stretch;
    align-content: stretch;
}

.footerNav h5{
    color: rgb(255, 255, 255);
    padding: 20px 5px;
    font-weight: lighter;
    margin: 10px;
    letter-spacing: .5pt;
}

